@keyframes fadeIn {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 100%;
    }

    100% {
        opacity: 0%;
    }
}

body {
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
}

.text-reveal {
    animation: fadeIn 1s;
}

.text-hide {
    animation: fadeOut 1s;
}

.teamCreating {
    text-align: center;
}

.teams {
    display: block;
}

.teamOne {
    float: left;
    margin-left: 5%;
}

.teamTwo {
    float: right;
    margin-right: 5%;
}

.table {
    display: none;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    text-align: center;
    clear: both;
}

table,
tr,
td {
    border: 4px solid black;
    border-collapse: collapse;
    height: 30px;
    border-radius: 10px;
}

#question {
    height: 100px;
}

[class*="ans"] {
    width: 600px;
    height: 75px;
}

[class*="poi"] {
    width: 200px;
}

button {
    cursor: pointer;
}